#logo{
    height: 10px;
    font-size: 50px;
    text-align: center;
    color:rgb(255, 255, 255);
    opacity: .8;
}

nav{
    opacity: .8;
}
li{
    display:block;
	width: 360px;
	float:left;
    text-align: center;
    background-color: blueviolet;
}
#info{
    color: rgb(255, 255, 255);
    opacity: .8;
    height: 8px;
    font-size: 40px;
    text-align: left;
}
p{
    line-height: 4;
}
li a {
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    text-decoration: none;
    display:block;
}
  
li a:hover {
    background-color: rgb(152, 129, 171);
    color: white;
}
body {
    background-image: url('wp4579128.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: .8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
#text{
    display:block;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}
